:root {
    --primary-color: #152614;
    --secondary-color:#8AC926;
    --accent1-color:#4ECDC4;
    --accent2-color:#F7FFF7;
    --border-radius:15px;
}

/*About us starts here*/
* {
    max-width: 100vw;
}

header, header * {
    display:grid;
    grid-template-columns: auto 1fr;
    padding: 5px;
    background-color: var(--accent2-color);
    border-radius: var(--border-radius)
}

header img {
    border: 5px solid var(--accent2-color);
    width: 150px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--primary-color);
}

.hero {
    position:relative;
    width:100%;
    height:100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero h1 {
    position:absolute;
    top:-20px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.329);
    color: var(--primary-color);
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main {
    width:100%;
    height:auto;
    border-radius:var(--border-radius)
}

article {
    position:absolute;
    top:100px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.329);
    color: var(--primary-color);
    width: 85%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: justify;
}

article img {
    float:right;
    width: 200px;
}

.socialm{
    text-decoration: none;
}
.sec2 {
    display:grid;
}

.sec2 {
    grid-template-rows: auto 1fr; 
    justify-items: center; 
    background-color: #8ac926e1;
    border-radius: 15px;
    margin: 10px 0;
}

.sec2 h2 {
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.adv {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

figure {
    margin: 0 10px; 
    text-align: center;
}

.sec2 img {
    max-width: 100%;
    height: 170px;
    border-radius: 15px;
}


figcaption{
    font-size: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
}

footer, footer *{
    display:grid;
    grid-template-columns: auto  auto 2fr auto;
    background-color: var(--accent2-color);
    padding: 5px;
    border-radius: 15px;
}

footer p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    color: #152614;
    padding-left: 10em;
}

footer nav {
    gap: 10px;
    grid-column: 5;
    justify-content: flex-end;
    align-self: center;
}

footer .wire {
    grid-column: 1 / -1;
    text-align: center;
    text-decoration: none;
    color:#152614;
}

footer .wire:hover {
    color:#152614;
    text-decoration: underline;
    cursor: pointer;
}

.sec1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.left, .right {
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 6rem;
}

.center {
    display: flex;
    flex-direction: column;
}

.center h2 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.center img {
    width: 400px;
    height: 250px;
    align-self: center;
    border-radius: var(--border-radius)
}
/*About us ends here*/

/*Contact starts here*/
.contact-us {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 2rem;
}

.section1 {
    background-color: #8ac92659;
    display:grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 1rem;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
}

.section1 section {
    display: contents;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    margin: 0;
    border: 2px dotted var(--primary-color);
    background-color: var(--accent2-color);
    height: 200px;
    border-radius: 15px;
}

.address p:first-of-type, 
.phone-mail p:first-of-type {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: var(--primary-color)
}

.section1 .address img {
    width: 40px;
    margin-top: 1rem;
}

.section1 .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: var(--primary-color);
}

.section1 .address p:last-child {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.phone-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    border: 2px dotted var(--primary-color);
    background-color: var(--accent2-color);
    border-radius: 15px;
}

.text-box p:first-of-type {
    margin-right: 10px;
}

.text-box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.text-box img {
    margin-right: 10px;
    width: 40px;
}

.text-box p {
    text-align: center;
    margin: 5px 0;
}

.section2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #4ecdc567;
    border-radius: 15px;
    margin: 10px;
    padding: 10px
}

.section2 section {
    display: contents;
}

.section2 p {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: medium;
    text-align: justify;
    margin: 25px;
    padding: 1rem;
}

.text-container p:first-child {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-align: center;
}

.text-container {
    grid-column: 1;
    text-align: center;
}

.section iframe {
    width: 100%;
    height: 150px;
    max-height: 300px;
    grid-column: 2;
}

.section3 {
    border: 1px;
    margin: 1rem;
    background-color: #8ac92659;
    border-radius: 15px;
}

.section3 h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    text-align: center;
}

.section3 img {
    width: 250px;
    height: 175px;
    margin: 0;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.adv2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.adv2 figure {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section3 figcaption {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 5px;
}

.section4 {
    margin:0 auto;
    display:flex;
    justify-content: center;
    width: 100%;
}

form{
    font-family: "Raleway", sans-serif;
    font-size: larger;
    font-weight: 600;
    background-color: #8ac92659;
    display:grid;
    max-width: 1200px;
    width: 100%;
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    justify-content: center;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item.column1-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.form-item.column1 input {
    flex: 1;
    width: 250px;
    height: 50px;
    padding: 0.5rem;
    font-size: 1rem;
}

#fullname, #email {
    width: 200px;
    height: 6px;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-item.column2 {
    flex-direction: column;
    margin: 10px;
}

.checkbox-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.radio-container {
    display:flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 10px;
}

fieldset{
    display: block;
    grid-gap: 1rem;
    border: none;
    padding: 0;
}

textarea {
    width: 500px;
    height: 100px;
    padding: 0.5rem;
}

button {
    margin: 1rem auto;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-family: inherit;
    font-size: 1.2em;
    max-width: 250px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    justify-self: center;
}

button:hover {
    background-color: var(--secondary-color);
}
/*Contact ends here*/

/*Trips starts here*/
.trips {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr;
    grid-row-gap: 0;
}

.trips section:first-of-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.trips section:first-of-type div {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border-radius: 15px;
    background-color: #4ecdc54d;
}

.trips section:first-of-type div h2{
    margin-top: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.trips section:first-of-type h1 {
    grid-row: 1;
    grid-column: 1/ 4;
    text-align: center;
    border:none;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.trips img, .trips p {
    grid-row: 1;
    width: 200px;
    height: 150px;
}

.trips img{
    grid-row: 2;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.trips p {
    grid-row: 3;
    margin: 50px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.trips section:nth-last-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 50px;
}

.trips section:nth-last-of-type(1) > div:first-child {
    grid-column: 1;
}

.trips section:nth-last-of-type(1) > div:last-child {
    grid-column: 2;
}

.trips section:nth-of-type(2) table {
    min-width: 800px;
    border-collapse: collapse;
}

.trips table {
    border: #152614 solid 1px;
    background-color: #8ac926cb;
    border-radius: var(--border-radius);
}

.trips section:nth-of-type(2) table th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--accent2-color)
}

.trips section:nth-of-type(2) table th{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.trips section:nth-of-type(2) table td{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.trips section:nth-of-type(2) .box {
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f7fff7;
    font-family: 'Raleway', sans-serif;
}
/*Trips ends here*/

/*Home starts here*/
.test {
    background-color: transparent;
    background-image: url(../images/heroindex.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

.index {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.main-index {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
}

.index-h1{
    grid-row:1;
    grid-column: 1 / span 2;
    text-align: center;
    border:none;
    font-size: 20px;
    margin: 30px; 
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.main-index >div:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.main-index > section {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.trip {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px; 
    border-radius: 15px;
}

.trip:nth-of-type(1) {
    grid-column: 1;
}

.trip:nth-of-type(2) {
    grid-column: 2;
}

.trip img, .trips p {
    width: 200px;
    height: 150px;
}

.main-index img{
    grid-row: 2;
}

.main-index p {
    grid-row: 3;
    margin: 30px;
}

.main-index {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
}

.index-h1{
    grid-row:1;
    grid-column: 1 / span 2;
    text-align: center;
    margin: 20px;
    font-size: 35px;
    color: var(--primary-color);
    background-color: #8ac926c4 !important;
    border-radius: 15px;
}

.main-index >div:first-of-type {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
}

.main-index > section {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.trip {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin: 0; 
    border-radius: 15px;
    background-color: var(--accent2-color);
    text-align: justify;
    opacity: 0.8;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.trip:nth-of-type(1) {
    grid-column: 1;
}

.trip:nth-of-type(2) {
    grid-column: 2;
}

.trip img, .trips p {
    width: 250px;
    height: 150px;
}

.main-index img{
    grid-row: 2;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
}

.main-index p {
    grid-row: 3;
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.main-index > div:first-of-type section { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.main-index > div:last-of-type {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding: 50px;
}

.main-index section:nth-last-of-type(1) {
    gap: 20px;
    padding: 60px;
}

.main-index > div:nth-of-type(2) > section:first-of-type {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
  
  .main-index > div:nth-of-type(2) > section.card {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  
  .main-index > div:nth-of-type(2) > section.cta-section {
    grid-column: 1;
    grid-row: 2;
    align-self: center;

  }

.cta-section {
    max-width: 200px;
    margin-left: auto;
    margin-right:auto;
    background-color: var(--accent2-color);
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: #f7fff7;
    font-family: 'Raleway', sans-serif;
    padding: 40px 40px 0 40px;
    color: var(--primary-color);
  }

.card {
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #f7fff78e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid var(--primary-color);
  }

  .card__title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary-color);
  }
  
  .card__content {
    font-size: 16px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
  }

  .card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .card__form input {
    width: 100% !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 20px !important;
    font-family: 'Raleway', sans-serif;
    font-size: 12px !important
  }

  .card__form button {
    background: #111;
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 20px;
    cursor: pointer;
  }

  .card__form button:hover {
    background-color: var(--secondary-color);
}

  .main-index > div:nth-of-type(2) > section:first-of-type {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
  
  .main-index > div:nth-of-type(2) > section.card {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  
  .main-index > div:nth-of-type(2) > section.cta-section {
    grid-column: 1;
    grid-row: 2;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  /*Home ends here*/

  .trips-bkgr {
    background-color: #8ac9266c
  }

  .contact-bkgr {
    background-color: #8ac9266c
  }

  .about-bkgr {
    background-color: #8ac9266c
  }
