:root {
    --padding: 10px;
    --not-padding: 0;
    --main-color: steelblue;
    --aux-color: white;
    --off-color: black;
    --height: auto;
}

nav {
    background-color: var(--main-color);
    padding: var(--padding);
}

nav a {
    color: var(--aux-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
    border: 15px solid var(--aux-color)
}

img {
    width: 150px;
    height: var(--height);
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);  
}

main {
    max-width: 840px;
}

aside {
    width:20rem;
    text-align: center;
    position: relative;}


aside img {
    width: 200px;
    height: var(--height);
}

aside h2{
    position: absolute;
    top: 20px;
    left: 103px;
}

main img {
    width: 150px;
    height: var(--height);
    float:right;
}

p {
    padding: var(--not-padding);  
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--off-color);
    text-align: center;
}

* {
    margin: 0;
    padding: var(--not-padding);
    box-sizing:border-box; 
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 5px;
    padding: 1rem;
    background-color:rgba(142, 180, 70, 0.616);
    color: var(--off-color)
}