:root {
    --padding: 1rem;
    --not-padding: 0;
    --main-color: steelblue;
    --aux-color: white;
    --off-color: black;
    --height: auto;
}

nav {
    display: flex;
    background-color: var(--main-color);
    padding: var(--padding);
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--aux-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

h1 {
    color: var(--main-color);
    border: 15px solid var(--aux-color)
}

img {
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);  
}

aside {
    width:20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}


aside img {
    width: 200px;
    height: var(--height);
}

aside h2{
    position: absolute;
    top: 35px;
    left: 105px;
}

main img {
    width: 145px;
    height: 150px;
    float:right;
    margin: 1rem;
}

main p {
    padding: 18px;
}

p {
    padding: 1rem;  
}

footer {
    margin-top: 10px;
    border-top: 1px solid var(--off-color);
    text-align: center;
}

* {
    margin: 0;
    padding: var(--not-padding);
    box-sizing:border-box; 
}

/* Class Selectors */
.box{
    margin: 2rem;
    border: 1px ;
    padding: 2rem;
    background-color:rgba(142, 180, 70, 0.616);
    color: var(--off-color)
}

header footer .grid {
    max-width: 840px;
    margin: 0;
}

.grid {
    display:grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}